@media (max-width: 991px) {
    .container {
        padding: 0px 15px;
    }
    .title {
        &_left {
            text-align: center;
            font-size: 32px;
            line-height: 47px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .advantages {
        &__block {
            width: 218px;
        }
    }
    .consultation {
        min-height: 600px;
        padding: 90px 0 90px 0;
        &__subheader {
            text-align: center;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 36px;
        }
    }
    .carousel {
        &__inner {
            width: 600px;
            img {
                width: 100%;
                margin: 0 auto;
            }
        }
    }
    .catalog {
        &__content {
            justify-content: center;
        }
        &-item {
            margin: 10px 10px;
        }
    }
    .reviews {
        &__block {
            min-width: 300px;
            padding-left: 20px;
        }
    }
    .modal {
        &__close {
            right: 10px;
            top: 5px;
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 720px;
    }
    .title {
        font-size: 27px; 
        &_left {
            font-size: 25px;
            line-height: 35px;
        }
    }
    .header {
        &__official {
            display: none;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        &__header {
            font-size: 39px;
            line-height: 39px;
        }
        &__subheader {
            font-size: 23px;
            line-height: 23px;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 45px;
        }
        &__block {
            width: 372px;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        &__head {
            margin-top: 10px;
            font-size: 20px;
        }
        &__text {
            margin-top: 7px;
            font-size: 16px;
        }
    }
    .carousel {
        &__inner {
            width: 500px;
            img {
                width: 100%;
                margin: 0 auto;
            }
        }
    }
    .catalog {
        &__content {
            margin-top: 50px;
        }
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            width: 133px;
            height: 48px;
            font-size: 14px;
        }
    }
    
}
@media (max-width: 575px) {
    .container {
        max-width: 540px;
    }
    .title {
        font-size: 22px;
        &_left {
            font-size: 20px;
        }
    }
    .header {
        &__logo {
            display: block;
            width: 130px;
        }
        &__official {
            display: none;
            }
        &__contacts {
            align-items: center;
        }
        &__phone {
            font-weight: 500;
            font-size: 14px;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 130px;
            text-align: center;
        }
        &__header {
            font-size: 30px;
            line-height: 40px;
        }
        &__subheader {
            font-size: 20px;
            line-height: 30px;
        }
        &__icons {
            width: 100%;
        }
        
    }
    .advantages {
        &__block {
            width: 300px;
        }
        &__head {
            font-size: 19px;
        }
        &__text {
            font-size: 15px;
        }
    }
    .consultation {
        &__subheader {
            font-size: 14px;
            line-height: 20px;
        }
        .feed-form {
            width: 250px;
        }
    }
    .carousel {
        &__inner {
            width: 280px;
            img {
                width: 100%;
                margin: 0 auto;
            }
        }
    }
    .catalog {
        &__tab {
            font-size: 9px;
        }
        &-item__price {
            font-size: 17px;   
        }
    }
    .reviews {
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__block {
            margin-top: 15px;
            padding-left: 0;
            width: 90%;
            text-align: center;
        }
    }
    .footer {
        &__info {
            position: relative;
            width: 100%;
            padding: 25px 15px 25px 15px;
            height: 240px;
        }
        &__addr {
            font-size: 17px;
        }
    }
    .modal {
        padding: 30px 15px 30px 15px;
        width: 282px;
        &__subtitle {
            font-size: 15px;
        }
        &__descr {
            font-size: 12px;
        }
        &__close {
            font-size: 26px;
            right: 10px;
            top: 5px;
        }
        .feed-form {
            width: 250px;
        }
    }
}